.jumbotron {
  padding-top: 8rem;
  background-color: #dfdfdf;
}

section {
  padding-top: 3rem;
}

#about {
  padding-top: 6rem;
}

#interest {
  padding-top: 6rem;
}

#contact {
  padding-top: 6rem;
}
